<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="DebugRollingLogFileAppender"/>
      <appender-ref ref="CommandRollingLogFileAppender"/>
      <appender-ref ref="ErrorRollingLogFileAppender"/>
       
    </root>
    <appender name="DebugRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="SysLog\\DebugLog_"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd&quot;.log&quot;"/>
      <staticLogFileName value="false"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="Debug"/>
        <levelMax value="Debug"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <header value="#==Log start=================================================&#xA;"/>
        <footer value="&#xA;"/>
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="CommandRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="SysLog\\OperateLog_"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd&quot;.log&quot;"/>
      <staticLogFileName value="false"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="Info"/>
        <levelMax value="Info"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <header value="#============================================================&#xA;#Software: HEDS&#xA;#Fields: datetime - message{fields: Type ObjectName Key Version UserID UserName ProcessTime}&#xA;#============================================================&#xA;"/>
        <footer value="&#xA;"/>
        <conversionPattern value="%date - %message%newline"/>
      </layout>
    </appender>
    <appender name="ErrorRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="SysLog\\ErrorLog_"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd&quot;.log&quot;"/>
      <staticLogFileName value="false"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="Error"/>
        <levelMax value="Error"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <header value="#============================================================&#xA;#Software: HEDS&#xA;#Fields: datetime - message{fields: Message}&#xA;#============================================================&#xA;"/>
        <footer value="&#xA;"/>
        <conversionPattern value="%message%newline%date [%thread] %-5level %logger [%property{NDC}] - %newline"/>
      </layout>
    </appender>
    
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
