<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
  </configSections>
  <connectionStrings>
    <!--<add name="HEDSContext" connectionString="Data Source=SERVER23\SQL2008SP1;Database=HEDSV2_1.5.5.1Test;Persist Security Info=True;User ID=sa;Password=sql2008"
      providerName="System.Data.SqlClient" />-->
    <add name="HEDSContext" connectionString="Data Source=192.168.2.163;Database=HEDS_NDS_2;Persist Security Info=True;User ID=sa;Password=123_asd;Connect Timeout=50000"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>